$color-primary:#339af0;
$color-primary-dark:#1864ab;
$color-primary-light:#74c0fc;
$color-white:#fff;

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    color:#fff;
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 3rem;
    position: relative;
    height:100vh;
    
}
.button-container{
    width: 50vw;
    height: 50vh;
    background-color: $color-primary-light;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: relative;
}

.btn{
    color: $color-white;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 2rem;
}

.btn-blue{
    background-color: $color-primary-dark;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal-overly{
    background-color: $color-primary;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    opacity: 0;
    display: none;
    z-index: -1;
    pointer-events: none;
    transition: opacity 400ms ease-in;
    &:target{
        display: block;
        pointer-events: auto;
        z-index: 99999;
        opacity: 1;
    }
}

